body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.nav-container {
	padding-left: 50px;
	padding-right: 50px;
}

fieldset {
	border: none;
}

.hidden-slider {
	display: none;
	overflow: hidden;
}

.hidden {
	display: none;
	overflow: hidden;
}

.textbox {
	height: 100px;
	overflow: hidden;
}
